/*window {
    background-color: #F1F1F1;
}
.action-bar .horizontal {
    background-color: #F1F1F1;
    background: #F1F1F1;
    border-top-color: transparent;
    box-shadow: inset 0px 1px 2px -2px white;
}

headerbar {
    background-color: #F1F1F1;
    background: #F1F1F1;
    border-bottom-color: transparent;
    box-shadow: inset 0px 1px 2px -2px white;
}
list {
    background-color: #F1F1F1;
    background: #F1F1F1;
    border-bottom-color: transparent;
    box-shadow: inset 0px 1px 2px -2px white;
}*/
